In [3]:
import pandas as pd
import tensorflow as tf
import numpy as np

In [5]:
df_html = pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download&searchType=13', 
                              header =0)[0]

In [7]:
df_html.head()

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
0,DRB동일,4840,고무제품 제조업,"고무벨트(V벨트,콘베이어벨트,평벨트),프라스틱제품 제조,판매",1976-05-21,12월,류영식,http://drbworld.com,부산광역시
1,DSR,155660,1차 비철금속 제조업,합섬섬유로프,2013-05-15,12월,홍석빈,http://www.dsr.com,부산광역시
2,GS글로벌,1250,상품 종합 도매업,"수출입업(시멘트,철강금속,전기전자,섬유,기계화학),상품중개,광업,채석업/하수처리 서...",1976-06-26,12월,김태형,http://www.gsgcorp.com,서울특별시
3,HDC현대산업개발,294870,건물 건설업,"외주주택, 자체공사, 일반건축, 토목 등",2018-06-12,12월,"권순호, 정경구",http://www.hdc-dvp.com,서울특별시
4,KEC,92220,반도체 제조업,반도체 제조,2006-10-16,12월,박남규 김학남,http://www.kec.co.kr,서울특별시

In [20]:
from bs4 import BeautifulSoup
import requests

In [9]:
df = pd.DataFrame(df_html, columns = ['종목코드'])

In [21]:
import requests as rq
import pandas as pd
from pandas import DataFrame
headers = {'User-agent':
           "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36"} 
df = pd.DataFrame()
for i in range(1, 36):
    url = 'https://finance.naver.com/item/sise_day.nhn?code=035720&page=' + str(i)
    table = pd.read_html(requests.get(url,headers=headers).text,encoding="cp949")
    df_temp = table[0]
    df = df.append(df_temp, ignore_index = True)
Hyundai_Car_stock = df.dropna()    
Hyundai_Car_stock.to_csv('Hyundai_car_stock.csv', encoding = 'cp949')
Hyundai_Car_stock

             날짜        종가     전일비        시가        고가        저가        거래량
1    2021.06.17  147000.0  4000.0  142000.0  149500.0  140500.0  4404754.0
2    2021.06.16  143000.0  1500.0  144000.0  146000.0  142500.0  4996272.0
3    2021.06.15  144500.0  2000.0  143500.0  144500.0  140500.0  4950329.0
4    2021.06.14  142500.0  7000.0  136000.0  143000.0  136000.0  6240394.0
5    2021.06.11  135500.0  2000.0  134500.0  136500.0  132000.0  3674400.0
..          ...       ...     ...       ...       ...       ...        ...
519  2020.01.28  162500.0  3000.0  160000.0  163500.0  159500.0   513228.0
520  2020.01.23  165500.0   500.0  168000.0  168000.0  164500.0   323420.0
521  2020.01.22  166000.0  1000.0  166000.0  169000.0  164500.0   504350.0
522  2020.01.21  165000.0  3500.0  168500.0  169000.0  163500.0   389155.0
523  2020.01.20  168500.0     0.0  169000.0  170000.0  167000.0   380510.0

[350 rows x 7 columns]

In [25]:
def make_csv(x):
    import requests as rq
    import pandas as pd
    from pandas import DataFrame
    headers = {'User-agent':
               "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36"} 
    df = pd.DataFrame()
    for i in range(1, 3):
        url = 'https://finance.naver.com/item/sise_day.nhn?code={0}&page='.format(x) + str(i)
        table = pd.read_html(rq.get(url,headers=headers).text,encoding="cp949")
        df_temp = table[0]
        df = df.append(df_temp, ignore_index = True)
    stock = df.dropna()    
    stock.to_csv('{0}_stock.csv'.format(x), encoding = 'cp949')
    print(stock)

In [26]:
for i in range(3):
    b = x[i]
    make_csv("{}".format(b))
make_csv

NameError: name 'x' is not defined