In [1]:
fruit = ['사과','오렌지']
vegetable = ['당근','호박']

In [8]:
category = input("등록할 카테고리를 선택해주세요 (과일, 채소):")
item = input("등록할 {}를 입력해주세요".format(category))
print(category)
print(item)


if category not in ['과일','채소']:
    print('존재하지 않은 카테고리입니다')
else:
    if category == '과일':
        if item in fruit:
            print('이미 등록된 과일입니다')
        else:
            fruit.append(item)
            print(fruit)
    else:
        if item in vegetable:
            print('이미 등록된 채소입니다')
        else:
            vegetable.append(item)
            print(vegetable)

등록할 카테고리를 선택해주세요 (과일, 채소):채소
등록할 채소를 입력해주세요당근
채소
당근
이미 등록된 야채입니다

In [15]:
category = input("등록할 카테고리를 선택해주세요 (과일, 채소):")
item = input("등록할 {}를 입력해주세요".format(category))
print(category)
print(item)

category_list = ['과일','채소']
category_dict = {'과일': fruit, '채소':vegetable}

if category not in category_list:
    print('존재하지 않은 카테고리입니다')
else:
    item_list = category_dict[category]
    print(f'item list : {item_list}')
    if item in item_list:
        print(f'이미 등록된 {category}입니다')
    else:
        item_list.append(item)
        print(item_list)

등록할 카테고리를 선택해주세요 (과일, 채소):채소
등록할 채소를 입력해주세요당근
채소
당근
item list : ['당근', '호박']
이미 등록된 채소입니다

In [12]:
category_list = ['과일','채소']
category_dict = {'과일': fruit, '채소':vegetable}

category_name = '과일'
category_dict[category_name]

['사과', '오렌지']

# 반복문

In [17]:
for i in range(10):
    print(f'{i} 번째')
    print("완료")

0 번째
완료
1 번째
완료
2 번째
완료
3 번째
완료
4 번째
완료
5 번째
완료
6 번째
완료
7 번째
완료
8 번째
완료
9 번째
완료

In [18]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [19]:
a = [1, 2, 3, 4, 5, 6, 7]
for i in a:
    print(i)

1
2
3
4
5
6
7

In [41]:
a = [1, 2, 3, 4, 5, 6, 7]
for i in range(len(a)):
    print("{} : {}".format(i, a[i]))

0 : 1
1 : 2
2 : 3
3 : 4
4 : 5
5 : 6
6 : 7

In [42]:
a = [1, 2, 3, 4, 5, 6, 7]
for i, num in enumerate(a):
    print(f"{i} => {num}")

0 => 1
1 => 2
2 => 3
3 => 4
4 => 5
5 => 6
6 => 7

In [21]:
a = "Orange"
for i in a:
    print(i, end="")

Orange

In [38]:
a = {"name":"Tom", "math":80, "english":90}
for k in a:
    print(f"{k} : {a[k]}")

name : Tom
math : 80
english : 90

In [33]:
for key in a.keys():
    print(key)

name
math
english

In [34]:
for value in a.values():
    print(value)

Tom
80
90

In [35]:
for item in a.items():
    print(item)

('name', 'Tom')
('math', 80)
('english', 90)

In [40]:
for k, v in a.items():
    print(f'{k} : {v}')

name : Tom
math : 80
english : 90

In [39]:
x, y = 10, 20
print(x)
print(y)

10
20

In [43]:
for i in range(5):
    print("*"*20, i)
    for j in range(5):
        print('j : ', j)

******************** 0
j :  0
j :  1
j :  2
j :  3
j :  4
******************** 1
j :  0
j :  1
j :  2
j :  3
j :  4
******************** 2
j :  0
j :  1
j :  2
j :  3
j :  4
******************** 3
j :  0
j :  1
j :  2
j :  3
j :  4
******************** 4
j :  0
j :  1
j :  2
j :  3
j :  4

In [47]:
x = [3, 6, 9, 20, -7, 5]

for i in range(len(x)):
    x[i] *= 10
    
x

[30, 60, 90, 200, -70, 50]

In [48]:
y = {"math": 70, "science":80, "english":20}
for k in y:
    y[k] += 10
y

{'math': 80, 'science': 90, 'english': 30}

In [49]:
num = int(input("몇단을 출력하시겠습니까?"))
for i in range(1, 10):
    print("{} * {} = {}".format(num, i, num * i))

몇단을 출력하시겠습니까?3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [54]:
words = ['school', 'game', 'piano', 'science', 'hotel', 'mountain']
new_words = []
for word in words:
    if len(word) >= 6:
        new_words.append(word)
        
new_words

['school', 'science', 'mountain']

In [55]:
for num in range(1, 10):
    for i in range(1, 10):
        print("{} * {} = {}".format(num, i, num * i))

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [60]:
x = [3, 6, 9, 20, -7, 5]

for i in range(len(x) - 1):
    for j in range(len(x) - i - 1):
        if x[j] > x[j + 1]:
            x[j], x[j + 1] = x[j + 1], x[j]
        print(f"{i}, {j}, {x}")

0, 0, [3, 6, 9, 20, -7, 5]
0, 1, [3, 6, 9, 20, -7, 5]
0, 2, [3, 6, 9, 20, -7, 5]
0, 3, [3, 6, 9, -7, 20, 5]
0, 4, [3, 6, 9, -7, 5, 20]
1, 0, [3, 6, 9, -7, 5, 20]
1, 1, [3, 6, 9, -7, 5, 20]
1, 2, [3, 6, -7, 9, 5, 20]
1, 3, [3, 6, -7, 5, 9, 20]
2, 0, [3, 6, -7, 5, 9, 20]
2, 1, [3, -7, 6, 5, 9, 20]
2, 2, [3, -7, 5, 6, 9, 20]
3, 0, [-7, 3, 5, 6, 9, 20]
3, 1, [-7, 3, 5, 6, 9, 20]
4, 0, [-7, 3, 5, 6, 9, 20]

In [64]:
a = [3, 6, 9, 20, -7, 5]
b = []
print(min(a))
for i in range(min(a),max(a) + 1):
    if i in a:
        b.append(i)

print(b)

-7
[-7, 3, 5, 6, 9, 20]

In [65]:
a=[3,6,9,20,-7,5]
for x in a:
    for y in a:
        for z in a:
            for c in a:
                for d in a:
                    for k in a:
                        if x<y<z<c<d<k:
                            print(x,",",y,",",z,",",c,",",d,",",k)

-7 , 3 , 5 , 6 , 9 , 20

In [72]:
numbers = [3, 6, 9, 20, -7, 5]

for i in range(len(numbers)):
    for x in range(i+1,len(numbers)):
        if numbers[i]>numbers[x]:
            numbers.insert(i, numbers.pop(x))
numbers

[-7, 3, 5, 6, 9, 20]

In [73]:
for i in range(1, 101):
    if i % 3 == 0 and i % 5 == 0:
        print("3과 5의 공배수")
    elif i % 3 == 0:
        print("3의 공배수")
    elif i % 5 == 0:
        print("5의 공배수")
    else:
        print(i)

1
2
3의 공배수
4
5의 공배수
3의 공배수
7
8
3의 공배수
5의 공배수
11
3의 공배수
13
14
3과 5의 공배수
16
17
3의 공배수
19
5의 공배수
3의 공배수
22
23
3의 공배수
5의 공배수
26
3의 공배수
28
29
3과 5의 공배수
31
32
3의 공배수
34
5의 공배수
3의 공배수
37
38
3의 공배수
5의 공배수
41
3의 공배수
43
44
3과 5의 공배수
46
47
3의 공배수
49
5의 공배수
3의 공배수
52
53
3의 공배수
5의 공배수
56
3의 공배수
58
59
3과 5의 공배수
61
62
3의 공배수
64
5의 공배수
3의 공배수
67
68
3의 공배수
5의 공배수
71
3의 공배수
73
74
3과 5의 공배수
76
77
3의 공배수
79
5의 공배수
3의 공배수
82
83
3의 공배수
5의 공배수
86
3의 공배수
88
89
3과 5의 공배수
91
92
3의 공배수
94
5의 공배수
3의 공배수
97
98
3의 공배수
5의 공배수

In [75]:
i = 0
while i < 10:
    print(f"{i} 번째")
    i += 1 # i = i + 1

0 번째
1 번째
2 번째
3 번째
4 번째
5 번째
6 번째
7 번째
8 번째
9 번째

In [77]:
count = int(input("반복횟수?"))
i = 0
while i < count:
    print("입력한 횟수만큼 반복")
    i += 1

반복횟수?5
입력한 횟수만큼 반복
입력한 횟수만큼 반복
입력한 횟수만큼 반복
입력한 횟수만큼 반복
입력한 횟수만큼 반복

In [79]:
i = 0
while i != 5:
    i = int(input("5를 입력하면 반복이 중단됩니다."))
print("중단")

5를 입력하면 반복이 중단됩니다.1
5를 입력하면 반복이 중단됩니다.3
5를 입력하면 반복이 중단됩니다.2
5를 입력하면 반복이 중단됩니다.5
중단

In [80]:
import random
random.random()

0.9478347287768221

In [92]:
random.randint(1, 3)

3

In [94]:
i = -1
total = 0
while i != 0:
    i = int(input("값을 입력해주세요"))
    total += i
    
print("합계는 ? ", total)

값을 입력해주세요30
값을 입력해주세요20
값을 입력해주세요5040
값을 입력해주세요30
값을 입력해주세요0
합계는 ?  5120

In [97]:
import random
user = 1
comp = 0

win = 0
total = 0

game_table = {1:"가위", 2:"바위", 3:"보"}

while user in [1, 2, 3]:
    user = int(input("가위(1), 바위(2), 보(3) 을 입력해주세요 :"))
    comp = random.randint(1, 3)
    
    if (user == 1 and comp == 3) or (user == 2 and comp == 1) or (user == 3 and comp == 2):
        win += 1
    
    if user in [1, 2, 3]:
        total += 1
        print(f"유저 : {game_table[user]}, 컴퓨터 : {game_table[comp]}")
    
print(f"게임종료 (전체:{total} ,승리:{win})")

가위(1), 바위(2), 보(3) 을 입력해주세요 :3
유저 : 보, 컴퓨터 : 가위
가위(1), 바위(2), 보(3) 을 입력해주세요 :2
유저 : 바위, 컴퓨터 : 보
가위(1), 바위(2), 보(3) 을 입력해주세요 :3
유저 : 보, 컴퓨터 : 바위
가위(1), 바위(2), 보(3) 을 입력해주세요 :1
유저 : 가위, 컴퓨터 : 바위
가위(1), 바위(2), 보(3) 을 입력해주세요 :4
게임종료 (전체:4 ,승리:1)

In [98]:
5 % 2

1