# index 접근

In [1]:
a = list(range(10))

In [2]:
a[:3]

[0, 1, 2]

In [3]:
1 in a

True

In [4]:
11 in a

False

In [5]:
a.pop()

9

In [6]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [8]:
a.pop(2)

2

In [9]:
a

[0, 1, 3, 4, 5, 6, 7, 8]

In [10]:
a.index(3) # 3의 인덱스를 찾아냄

2

# 반복문

In [4]:
for i in range(10):
    print(f'{i}번째')
print('완료')

0번째
1번째
2번째
3번째
4번째
5번째
6번째
7번째
8번째
9번째
완료

In [1]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [5]:
for i in range(10, 0, -1):

10
9
8
7
6
5
4
3
2
1

In [11]:
a ="Orange"
for i in a:
    print(i, end = '')

Orange

In [16]:
a = {"name":'Tom',"math":80,"english":90}
for i in a:
    print(i)

name
math
english

In [38]:
a = {"name":'Tom',"math":80,"english":90}
for i in a:
    print(f'{i}: {a[i]}')

name: Tom
math: 80
english: 90

In [21]:
for item in a.keys():
    print(item)

name
math
english

In [22]:
for value in a.values():
    print(value)

Tom
80
90

In [23]:
for item in a.items():
    print(item)

('name', 'Tom')
('math', 80)
('english', 90)

In [24]:
for k, v in a.items():
    print(f'{k} : {v}')

name : Tom
math : 80
english : 90

In [25]:
a = [1, 2, 3, 4, 5, 6, 7]
for i, num in enumerate(a):
    print(f'{i} = > {num}')

0 = > 1
1 = > 2
2 = > 3
3 = > 4
4 = > 5
5 = > 6
6 = > 7

In [27]:
for i in range(0,5):
    print("***************", i)
    for j in range(5):
        print('j : ',j)

*************** 0
j :  0
j :  1
j :  2
j :  3
j :  4
*************** 1
j :  0
j :  1
j :  2
j :  3
j :  4
*************** 2
j :  0
j :  1
j :  2
j :  3
j :  4
*************** 3
j :  0
j :  1
j :  2
j :  3
j :  4
*************** 4
j :  0
j :  1
j :  2
j :  3
j :  4

In [35]:
x = [3, 6, 9, 20, -7, 5]
a = []
for i in x:
    a.append(i * 10)
a

[30, 60, 90, 200, -70, 50]

In [85]:
x = [3, 6, 9, 20, -7, 5]
for i in range(len(x)):
    x[i] *= 10
x

[30, 60, 90, 200, -70, 50]

In [45]:
y = {"math": 70, "science": 80, "english": 20}

In [41]:
type(y)

dict

In [47]:
for k, v in y.items():
    y[k] = v + 10
    
y

{'math': 80, 'science': 90, 'english': 30}

In [53]:
num = int(input("몇단을 출력하시겠습니까? : "))

for i in range(1, 10):
    print(f'{num} * {i} = {num * i}')

몇단을 출력하시겠습니까? : 9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [65]:
words = ["school", "game", "piano", "science", "hotel", "mountain"]
new_list = []

In [66]:
for i in range(len(words)):
    if len(words[i]) >= 6:
        new_list.append(words[i])
new_list

['school', 'science', 'mountain']

In [69]:
for i in range(1, 10):
    for j in range(1, 10):
        print(f'{i} * {j} = {i * j}')

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

#### 정렬 알고리즘(1) - select sort

In [98]:
a = [3, 6, 9, 20, -7, 5,]

for i in range(len(a)-1):
    for j in range(i + 1, len(a)):
        if a[i] > a[j]:
            a[i], a[j] = a[j], a[i]
        print(f'{i},{j},{a}')
a

0,1,[3, 6, 9, 20, -7, 5]
0,2,[3, 6, 9, 20, -7, 5]
0,3,[3, 6, 9, 20, -7, 5]
0,4,[-7, 6, 9, 20, 3, 5]
0,5,[-7, 6, 9, 20, 3, 5]
1,2,[-7, 6, 9, 20, 3, 5]
1,3,[-7, 6, 9, 20, 3, 5]
1,4,[-7, 3, 9, 20, 6, 5]
1,5,[-7, 3, 9, 20, 6, 5]
2,3,[-7, 3, 9, 20, 6, 5]
2,4,[-7, 3, 6, 20, 9, 5]
2,5,[-7, 3, 5, 20, 9, 6]
3,4,[-7, 3, 5, 9, 20, 6]
3,5,[-7, 3, 5, 6, 20, 9]
4,5,[-7, 3, 5, 6, 9, 20]

[-7, 3, 5, 6, 9, 20]

#### 정렬 알고리즘 (2) - bubble sort

In [96]:
a = [3, 6, 9, 20, -7, 5, -8]

for i in range(len(a)-1):
    for j in range(len(a) - i - 1):
        if a[j] > a[j+1]:
            a[j], a[j + 1] = a[j + 1], a[j]
            print(f'{i},{j},{a}')

a

0,3,[3, 6, 9, -7, 20, 5, -8]
0,4,[3, 6, 9, -7, 5, 20, -8]
0,5,[3, 6, 9, -7, 5, -8, 20]
1,2,[3, 6, -7, 9, 5, -8, 20]
1,3,[3, 6, -7, 5, 9, -8, 20]
1,4,[3, 6, -7, 5, -8, 9, 20]
2,1,[3, -7, 6, 5, -8, 9, 20]
2,2,[3, -7, 5, 6, -8, 9, 20]
2,3,[3, -7, 5, -8, 6, 9, 20]
3,0,[-7, 3, 5, -8, 6, 9, 20]
3,2,[-7, 3, -8, 5, 6, 9, 20]
4,1,[-7, -8, 3, 5, 6, 9, 20]
5,0,[-8, -7, 3, 5, 6, 9, 20]

[-8, -7, 3, 5, 6, 9, 20]

In [90]:
a.sort(reverse = True)
a

[20, 9, 6, 5, 3, -7, -8]

In [77]:
for i in range(1,101):
    if (i % 3) == 0 and (i % 5) == 0:
        print("3과 5의 공배수")
    elif (i % 3) == 0:
        print("3의 배수")
    elif (i % 5) == 0:
        print("5의 배수")
    else:
        print(i)

1
2
3의 배수
4
5의 배수
3의 배수
7
8
3의 배수
5의 배수
11
3의 배수
13
14
3과 5의 공배수
16
17
3의 배수
19
5의 배수
3의 배수
22
23
3의 배수
5의 배수
26
3의 배수
28
29
3과 5의 공배수
31
32
3의 배수
34
5의 배수
3의 배수
37
38
3의 배수
5의 배수
41
3의 배수
43
44
3과 5의 공배수
46
47
3의 배수
49
5의 배수
3의 배수
52
53
3의 배수
5의 배수
56
3의 배수
58
59
3과 5의 공배수
61
62
3의 배수
64
5의 배수
3의 배수
67
68
3의 배수
5의 배수
71
3의 배수
73
74
3과 5의 공배수
76
77
3의 배수
79
5의 배수
3의 배수
82
83
3의 배수
5의 배수
86
3의 배수
88
89
3과 5의 공배수
91
92
3의 배수
94
5의 배수
3의 배수
97
98
3의 배수
5의 배수

In [128]:
sum_a = 0
a = int(input("값을 입력해주세요 : "))
while (a != 0):
    sum_a = sum_a + a
    a = int(input("값을 입력해주세요 : "))
    
print(sum_a)

값을 입력해주세요 : 70
값을 입력해주세요 : 80
값을 입력해주세요 : 90
값을 입력해주세요 : 0
240

In [114]:
import random

In [115]:
while random.randint(1,3)

2

In [124]:
import random
data_dict = {'1':'가위','2':'바위','3':'보'}
user = input("가위(1), 바위(2), 보(3) 을 입력해주세요 : ")

while (int(user) < 4):
    computer = str(random.randint(1,3))
    if user == '1':
        if computer == '3':
            total += 1
            win_count += 1
        else:
            total += 1
    elif user == '2':
        if computer == '1':
            total += 1
            win_count += 1
        else:
            total += 1
    else:
        if computer == '2':
            total += 1
            win_count += 1
        else:
            total += 1
    print(f'유저 : {data_dict[user]},컴퓨터 : {data_dict[computer]})')
    user = input("가위(1), 바위(2), 보(3) 을 입력해주세요 : ")
    
print(f'게임종료(전체:{total},{win_count})')

with open("game_data", "wb") as file:
    pickle.dump(total, file)
    pickle.dump(win_count, file)
    
with open("game_data", "rb") as file:
    pickle.load(file)
    pickle.load(file)

가위(1), 바위(2), 보(3) 을 입력해주세요 : 2
유저 : 바위,컴퓨터 : 보)
가위(1), 바위(2), 보(3) 을 입력해주세요 : 3
유저 : 보,컴퓨터 : 바위)
가위(1), 바위(2), 보(3) 을 입력해주세요 : 1
유저 : 가위,컴퓨터 : 가위)
가위(1), 바위(2), 보(3) 을 입력해주세요 : 2
유저 : 바위,컴퓨터 : 바위)
가위(1), 바위(2), 보(3) 을 입력해주세요 : 4
게임종료(전체:4,1)

In [134]:
data_dict = {1:'가위',2:'바위',3:'보'}

In [135]:
type(data_dict)

dict

In [136]:
data_dict[1]

'가위'

In [144]:
user

20

In [147]:
user = int(input("숫자를 입력하세요:"))
cnt = 0
while True:
    if cnt == user:
        break
    cnt += 1
    print(cnt)

숫자를 입력하세요:20
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [155]:
user = int(input(" 숫자를 입력하세요: "))
for i in range(user+1):
    if i % 2 == 1:
        continue
    print(i)

 숫자를 입력하세요: 20
0
2
4
6
8
10
12
14
16
18
20

In [ ]:
user = int(input("숫자를 입력하세요 : "))